<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
<% end %>

<h1 class="headline1">Books</h1>

<table class="table-area" cellspacing="10">
	<tr>
		<th class="subtitle">Title</th>
		<th class="subtitle">Body</th>
	</tr>
	<% @books.each do |book| %>
	<tr>
		<td class="table-text"><%= book.title %></td>
		<td class="table-text"><%= book.body %></td>
		<td>
			<p class="link-item"><%= link_to "Show", book_path(book.id) %></p>
			<p class="link-item"><%= link_to "Edit", edit_book_path(book.id) %></p>
			<p class="link-item"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></p>

		</td>
	</tr>
	<% end %>
</table>

<!-- 新規投稿フォーム部分 -->
<section class="area4">

	<h1 class="headline2">New book</h1>

	<%= form_for(@book) do |f| %>

	<h3 class="new-title">Title</h3>
	<%= f.text_field :title %>

	<h3 class="new-title">Body</h3>
	<%= f.text_area :body %>
	<br>
	<%= f.submit 'Create Book' %>

	<% end %>

</section>
