<main class="clearfix">
	<% if flash[:notice] %>
		<p class="notice"><%= flash[:notice] %></p>
	<% end %>

	<def class="show-area1">
		<p class="show-text"><b>Title: </b><%= @book.title %></p>
		<p class="show-text"><b>Body: </b><%= @book.body %></p>
	</def>
	<def class="show-area2">
		<li class="show-link"><%= link_to "Edit", edit_book_path(@book.id) %></li>
		<li class="show-link"><%= link_to "Back", books_path %></li>
	</def>
</main>
